@model IEnumerable<GameOfLife.Models.Template>

@{
    ViewBag.Title = "Home";
}

<div id="overlay">
    <div id="text1" class="screen-center" style="display:none;"><h1>The ultimate game...</h1></div>

    <div id="text2" class="screen-center" style="display:none;"><h1>life vs. death...</h1></div>

    <a id="skip" class="alink">skip...</a>
</div>

<div id="landing" class="screen-center" style="display:none;">
    <div class="title">
        <div id="title-conway">Conway's</div>
        <div id="title-game">Game</div>
        <div id="title-of">of</div>
        <div id="title-life">Life</div>
    </div>
        
    <div class="spacer-2"></div>

    <div class="text-center">
        @Html.ActionLink("BEGIN", "Index", "Templates", null, new { @class = "btn btn-lg btn-success" })
        <a class="btn btn-lg btn-default" data-toggle="modal" data-target="#rules" role="button">RULES</a>
    </div>
    <div class="spacer-1"></div>
</div>

<a id="reset" class="alink">replay intro...</a>

@Html.Partial("_Rules")

<script>
    @if (Request.Cookies["intro"] == null)
    {
        Response.Cookies["intro"].Value = "1";
    }
    else
    {
        <text>
            $("#overlay").hide();
            $("#landing").fadeIn(1500);
        </text>
    }

    $(document).ready(function () {
        $("#text1").hide().delay(1000).fadeIn(2000).fadeOut(2000);
        $("#text2").hide().delay(5000).fadeIn(2000).fadeOut(2000);
        setTimeout(hideOverlay, 9000)
    });

    function hideOverlay() {
        $("#overlay").fadeOut(500);
        $("#landing").fadeIn(3000);
    }

    $("#skip").click(function (e) {
        e.preventDefault();
        hideOverlay();
    });

    $("#reset").click(function (e) {
        e.preventDefault();
        $.removeCookie('intro');
        $.removeCookie('clouds');
        location.reload();
    });
</script>
