<div class="modal fade" id="rules" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="pull-center">Conway's Game of Life</h2>
            </div>

            <div class="modal-body">
                <p><strong>Players</strong>: 0</p>
                <p><strong>Difficulty</strong>: 0</p>
                <p><strong>Rules</strong>:</p>
                <p>
                    This is a zero-player game, meaning that its evolution is determined by its initial state, requiring no further input. One interacts with the Game of Life by creating an initial template (or selecting one of the existing templates) and observing how the game evolves.
                </p>
                <p>
                    The universe of this Game of Life is a finite two-dimensional orthogonal grid of square cells, each of which is in one of two possible states, alive or dead. Every cell interacts with its eight neighbours, which are the cells that are horizontally, vertically, or diagonally adjacent. At each step in time, the following transitions occur:
                </p>
                <ol>
                    <li>Any live cell with fewer than two live neighbours dies, as if caused by under-population.</li>
                    <li>Any live cell with two or three live neighbours lives on to the next generation.</li>
                    <li>Any live cell with more than three live neighbours dies, as if by over-population.</li>
                    <li>Any dead cell with exactly three live neighbours becomes a live cell, as if by reproduction.</li>
                </ol>
                <p>
                    The initial pattern constitutes the seed of the system. The first generation is created by applying the above rules simultaneously to every cell in the seed — births and deaths occur simultaneously, in other words, each generation is a pure function of the preceding one. The rules continue to be applied repeatedly to create further generations.
                </p>
            </div>

            <div class="modal-footer pull-center">
                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>