@{
    ViewBag.Title = "Home";
}

<h1 style="font-family:'Bungee Shade'; font-size:160px;">Game<span style="font-size:80px;"> of </span>Life</h1>

<div class="jumbotron">
    <p>@User.Identity.Name</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Templates</h2>
        @Html.ActionLink("Templates", "Index", "Templates", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>