/**************************************
* HELPERS
**************************************/

.page-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pull-center {
    text-align: center;
}

.alink {
    cursor: pointer;
}

$spacer: 30px;
.spacer-1 {
    height: $spacer * 1;
}
.spacer-2 {
    height: $spacer * 2;
}
.spacer-3 {
    height: $spacer * 3;
}
.spacer-4 {
    height: $spacer * 4;
}

/**************************************
* PAGE: Loading
**************************************/

#loading {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

/**************************************
* TEXT
**************************************/

h1 {
    font-size: 5rem;
    font-weight: 300;
    margin: 0px 0 20px 0;
}

.sub-heading {
    font-size: 2rem;
    color: #aaa;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

.validation-summary-errors {
    ul {
        font-size: 18px;
        text-align: center;
        list-style-type: none;
        -webkit-margin-start: -2em;
    }
}

/**************************************
* STRUCTURE
**************************************/

body {
    background: #222;
}

.body-content {
    padding: 40px 0 60px 0;
}

.row {
    padding-bottom: 10px;
}

/**************************************
* BUTTONS
**************************************/

.btn {
    font-size: 18px;
    border-radius: 4px;
}

.btn-lg {
    height: 64px;
    border-radius: 4px;
}

/**************************************
* FORMS
**************************************/

.checkbox label {
    padding-left: 10px;
}

.form-horizontal {
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .control-label {
        padding: 5px 0;
    }
    .text-box {
        color: $brand-success;
        background: #444;
    }
}