@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "font-awesome/scss/font-awesome";

@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);

$font-family-serif: 'Bungee Shade';

/* Text Styling */
h1 {
    font-size: 6rem;
    text-align: center;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

/* Helper styles */
.page-center {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pull-center {
    text-align: center;
}

.alink {
    cursor: pointer;
}

/* Bootstrap Changes */ 
.body-content {
    padding-top: 60px;
}
.btn-lg {
    height: 64px;
}
.row {
    padding-bottom: 20px;
}

/* Home Styling */
#overlay {
    background: #222;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    h1 {

        color: #666;
    }
}
.title {
    color: #222;
    font-family: Cinzel;
    text-align: center;
    margin: 40px 0;
    div:nth-child(1) {
        font-family: initial;
        font-size: 60px;
    }
    div:nth-child(2) {
        font-size: 100px;
        line-height: 80px;
    }
    div:nth-child(3) {
        font-size: 40px;
        line-height: 20px;
    }
    div:nth-child(4) {
        font-size: 130px;
        line-height: 100px;
    }
}
@media (min-width: $screen-md-min) {
    .title {
        div:nth-child(1) {
            font-family: initial;
            font-size: 1.5vw;
        }
        div:nth-child(2) {
            font-size: 6vw;
            line-height: 6vw;
        }
        div:nth-child(3) {
            font-size: 3vw;
            line-height: 3vw;
        }
        div:nth-child(4) {
            margin-top: -2vh;
            font-size: 12vw;
            line-height: 10vw;
        }
    }
}

#skip {
    font-size: 20px;
    position: absolute;
    bottom: 5vh;
    right: 5vw;
}

/* Templates Styling */
.templates {
    .panel {
	    margin: 0;
        .panel-body {
            position: relative;
            .template-details-overlay {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.9);
                padding: 20px 0 0 20px;
            }
        }
    }
}

/* Masonry Styling */
.grid-gutter-sizer {
	width: 2%;
}
@media only screen and (min-width: 992px) {
    $grid-item-width: 23.5%;
    $grid-gutter: 2%;
	.grid-sizer,
	.grid-item {
		width: $grid-item-width;
	}
    .grid-item--width2 { 
        width:  $grid-item-width * 2 + $grid-gutter;
    }
}
@media only screen and (max-width: 992px) {
    $grid-item-width: 32%;
    $grid-gutter: 2%;
	.grid-sizer,
	.grid-item {
		width: $grid-item-width;
	}
    .grid-item--width2 { 
        width:  $grid-item-width * 2 + $grid-gutter;
    }
}
@media only screen and (max-width: 768px) {
    $grid-item-width: 100%;
	.grid-sizer,
	.grid-item {
		width: $grid-item-width;
	}
}