/**************************************
* HEADER
**************************************/

header {
    //background: rgba(255,255,255,0.7);
    //box-shadow: 0 6px 15px 0 rgba(255,255,255,0.3),0 2px 10px 0 rgba(255,255,255,0.1);
    //height: 200px;
    padding: 0 0 40px 0;
    .navbar {
        margin: 0;
        .navbar-brand {
            font-size: 20px;
        }
        .navbar-toggle {
            .icon-bar {
                background: #222;
            }
        }
        a {
            font-size: 16px;
            //background: #fff;
            color: #222;
            &:hover, &:focus {
                background: none;
                color: #0ce3ac;
            }
        }
        .dropdown-toggle {
            //background: #fff;
            &:hover, &:focus {
                background: none;
                color: #0ce3ac;
            }
        }
        .open a {
            background: none;
        }
        .dropdown-menu {
            width: 100%;
            min-width: 160px;
            padding: 0px;
            border: none;
            background: none;
            box-shadow: none;
            -webkit-box-shadow: none;
            li a {
                text-align: right;
                color: #222;
                padding: 10px 15px;
                &:hover, &:focus {
                    background: none;
                    color: #0ce3ac;
                }
            }
            .divider {
                background: #eee;
            }
        }
        .badge {
            padding: 1px 6px 4px 6px;
            background: $brand-success;
        }
    }
    
    .header-title {
        h1 {
            margin: 0;
            color: #222;
            font-size: 90px;
            font-family: Cinzel;
            text-align: center;
        }
    }
    .quote {
        display: none;
        font-size: 24px;
        padding: 10px 0;
        text-align: center;
        font-style: italic;
        .quote-body {
            color: #EE4266;
            font-style: italic;
        }
        .quote-author {
            color: #666;
            font-size: 70%;
        }
    }
}

@media only screen and (max-width: 1300px) {
    header {
        .navbar {
            background: rgba(255,255,255,0.8);
            border-radius: 0;
            .dropdown-menu {
                background: rgba(255,255,255,0.8);
            }
        }   
    }
}

@media only screen and (max-width: 768px) {
    header {
        background: rgba(255,255,255,0.7);
        .navbar .open .dropdown-menu {
            li a {
                padding: 15px 0 15px 40px;
                text-align: left !important;
            }
        }
            
    }
}