@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootswatch";
@import "font-awesome/scss/font-awesome";

@import "Components/intro";
@import "Components/clouds";
@import "Components/header";
@import "Components/game";
@import "Components/webforms";

@import url(https://fonts.googleapis.com/css?family=Cinzel);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400);

/**************************************
* FOOTER
**************************************/

footer {
    position: fixed;
    bottom: 0;
    padding: 40px 0 10px 10px;
    text-align: center;
    a {
        color: #ccc;
    }
}

/**************************************
* HELPERS
**************************************/

.parent-center {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.screen-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.pull-center {
    text-align: center;
}

.alink {
    cursor: pointer;
}

$spacer: 30px;
.spacer-1 {
    height: $spacer * 1;
}
.spacer-2 {
    height: $spacer * 2;
}
.spacer-3 {
    height: $spacer * 3;
}
.spacer-4 {
    height: $spacer * 4;
}

/**************************************
* LOADING PAGE
**************************************/

#loading {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

/**************************************
* TEXT
**************************************/

h1 {
    font-size: 5rem;
    font-weight: 300;
    margin: 0px 0 20px 0;
}

.sub-heading {
    font-size: 1.8rem;
    margin-top: -10px;
    color: #666;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
    }
}

.validation-summary-errors {
    ul {
        font-size: 18px;
        text-align: center;
        list-style-type: none;
        -webkit-margin-start: -2em;
    }
}

/**************************************
* STRUCTURE
**************************************/

body {
    background: #222;
    .no-overflow {
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
    }
}

.body-content {
    padding: 40px 0 60px 0;
}

.row {
    padding-bottom: 10px;
}

/**************************************
* BUTTONS
**************************************/

.btn {
    font-size: 18px;
    border-radius: 4px;
}

.btn-lg {
    height: 64px;
    border-radius: 4px;
}

/**************************************
* FORMS
**************************************/

.checkbox {
    margin-left: 25px;
    label {
        padding-left: 10px;
    }
}

.form-horizontal {
    .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .control-label {
        padding: 5px 0;
    }
    .text-box {
        color: $brand-success;
        background: #444;
    }
}

.search-box {
    font-size: 32px;
    font-weight: 300;
    background: rgba(0,0,0,0.1);
    padding: 8px 20px;
    color: $brand-success;
    border-bottom: $brand-success solid 2px;
    border-radius: 2px;
    &:focus {
        color: $brand-success;
    }
}