@model IEnumerable<GameOfLife.Models.Game>

@{
    ViewBag.Title = "Saved Games";
}

<div class="row">
    <div class="col-xs-12">
        <h1>My Saved Games</h1>
        <div class="sub-heading">Games saved to your account</div>
    </div>
</div>

<div class="spacer-1"></div>

@{
    ViewData["btnA"] = new[] { "LOAD", "Reload", "SavedGames" };
    ViewData["btnB"] = new[] { "Unsave", "Delete", "SavedGames" };
}

@Html.Partial("~/Views/Shared/_Grid.cshtml", ViewData.Model, ViewData)