@model GameOfLife.Models.Template

@{
    ViewBag.Title = "Delete: " + @Model.Name;
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="pull-center">Delete: @Model.Name</h1>
    </div>
</div>

<div class="spacer-1"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="pull-center">
            <h3>Are you sure?</h3>

            <div class="spacer-1"></div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    @Html.ActionLink("Cancel", "MyTemplates", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </div>
</div>


