@model IEnumerable<GameOfLife.Models.Template>

@{
    ViewBag.Title = "Templates";
}

<div class="row">
    <div class="col-md-9">
        <h1>Templates</h1>
        <div class="sub-heading">Load a pre-made template or create your own</div>
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Create New", "Create", "Templates", null, new { @class = "btn btn-lg btn-danger pull-right" })
    </div>
</div>

<div class="spacer-2"></div>

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <form action="/Templates" method="get">
            <div class="form-group">
                <input type="text" name="search" class="form-control input-lg search-box" placeholder="Search..." value="@ViewBag.SearchTerm">
            </div>
        </form>
    </div>
</div>

@{
    ViewData["btnA"] = new[] { "LOAD", "Load", "Games" };
}
@Html.Partial("~/Views/Shared/_Grid.cshtml", ViewData.Model, ViewData)