@model IEnumerable<GameOfLife.Models.Template>

@{
    ViewBag.Title = "My Templates";
}

<script src="~/Scripts/paintGame.js"></script>

<div class="spacer-2"></div>
<div class="row">
    <div class="col-xs-12">
        @Html.ActionLink("Create Template", "Create", new { userId = ViewBag.userId }, new { @class = "btn btn-lg btn-danger pull-right" })
    </div>
</div>
<div class="spacer-1"></div>

@{
    ViewData["btnA"] = new[] { "LOAD", "Load", "Games" };
    ViewData["btnB"] = new[] { "Edit", "Edit", "Templates" };
    ViewData["btnC"] = new[] { "Delete", "Delete", "Templates" };
}
@Html.Partial("~/Views/Shared/_Grid.cshtml", ViewData.Model, ViewData)
