@model IEnumerable<GameOfLife.Models.Template>

@{
    ViewBag.Title = "My Templates";
}

<div class="row">
    <div class="col-md-9">
        <h1>My Templates</h1>
        <div class="sub-heading">Manage your templates</div>
    </div>
    <div class="col-md-3">
        @Html.ActionLink("Create Template", "Create", "Templates", null, new { @class = "btn btn-lg btn-danger pull-right" })
    </div>
</div>

<div class="spacer-1"></div>

@{
    ViewData["btnA"] = new[] { "LOAD", "Load", "Games" };
    ViewData["btnB"] = new[] { "Edit", "Edit", "Templates" };
    ViewData["btnC"] = new[] { "Delete", "Delete", "Templates" };
}
@Html.Partial("~/Views/Shared/_Grid.cshtml", ViewData.Model, ViewData)
