@model GameOfLife.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="pull-center">Account</h1>
    </div>
</div>


@if (ViewBag.StatusMessage != "")
{
    <div class="spacer-1"></div>

    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 alert alert-success pull-center">
            @ViewBag.StatusMessage
        </div>
    </div>
}

<div class="spacer-1"></div>

<div class="row">
    <div class="col-xs-12 pull-center">
        @Html.ActionLink("Change Password", "ChangePassword", null, new { @class = "btn btn-success pull-center" })
    </div>
</div>